@font-face {
    font-family: "iranyekan light";
    /* font-family: 'Open Sans'; */
    src: url('../assets/fonts/iranyekan/iranyekanweblight.ttf');
    /* src: url('../assets/fonts/OpenSans_Condensed-Bold.ttf'); */
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: "iranyekan bold";
    /* font-family: 'Open Sans'; */
    src: url('../assets/fonts/iranyekan/iranyekanwebbold.ttf');
    /* src: url('../assets/fonts/OpenSans_Condensed-Bold.ttf'); */
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: "iranyekan regular";
    /* font-family: 'Open Sans'; */
    src: url('../assets/fonts/iranyekan/iranyekanwebregular.ttf');
    /* src: url('../assets/fonts/OpenSans_Condensed-Bold.ttf'); */
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: "shabnam light";
    /* font-family: 'Open Sans'; */
    src: url('../assets/fonts/shabnam/Shabnam-Light.ttf');
    /* src: url('../assets/fonts/OpenSans_Condensed-Bold.ttf'); */
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: "shabnam bold";
    /* font-family: 'Open Sans'; */
    src: url('../assets/fonts/shabnam/Shabnam-Bold.ttf');
    /* src: url('../assets/fonts/OpenSans_Condensed-Bold.ttf'); */
    font-weight: normal;
    font-style: normal;
  }

a { cursor: pointer; }

.app-container {
    min-height: 350px;
    font-family: 'iranyekan regular';
    font-size: 1rem;
}


.show>.dropdown-menu {
    display: block;
    position: absolute;
  }